<div class="container" style="margin-top:60px;">
<div class="jumbotron">
<h1>Editar imagen</h1>

<%= render 'form' %>

<br>
<br>
<%= link_to 'Ver imagen', @portafolio, :class=>"btn btn-success" %> 
<%= link_to 'Volver a imagenes', portafolios_path, :class=>"btn btn-primary" %>
</div>
</div>