<div class="container" style="margin-top:60px;">
<div class="jumbotron">
<h1>Editar servicio</h1>

<%= render 'form' %>

<br>
<br>
<%= link_to 'Volver a servicios', servicios_path, :class=>"btn btn-primary" %>
</div>
</div>