<div class="container" style="margin-top:60px;">
<div class="jumbotron">
<h1>Editar informacion</h1>

<%= render 'form' %>

<br>
<br>
<%= link_to 'Volver a informacion', informacions_path, :class=>"btn btn-primary" %>
</div>
</div>